.playlist-container {
  transition: all 0.16s ease-in;
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 100%;
  background-color: white;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
}

.playlist-container:hover {
  position: relative;
  display: inline-block;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

.playlist-image {
  z-index: 0;
  display: block;
  width: 256px;
  height: 256px;
  object-fit: cover;
  opacity: 100%;
  transition: 0.16s ease;
}

.playlist-image:hover {
  opacity: 70%;
}

.display-name {
}
